name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
strategy:
  matrix:
    node-version: [14.x]
steps:
  - uses: actions/checkout@v2
  - name: Node.js
    uses: actions/setup-node@v1
    with:
      node-version: ${{ matrix.node-version }}
  - name: yarn install, build and test
    run: |
      npm t
